spring:
  datasource:
    url: jdbc:mysql://localhost:3306/gym_sys_db?createDatabaseIfNotExist = true
    username: root
    password: 12345678

  jpa:
    hibernate:
      ddl-auto: create
    show_sql: true